:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(18, 20, 23, 1);
  background-color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin-top: 0;
  margin-left: 0;
  /* margin-right: 0; */
}

svg,
img {
  display: block;
  height: auto;
  width: 100%;
}
